@media screen and (max-width: 1019px) {
    .idc-section {
        max-width: 610px;
    }
    .idc-container {
        max-width: unset;
        padding-left: 15px;
        padding-right: 15px;
    }

    /* ******head*** */
    .idc-head .idc-container {
        padding-bottom: 105px;
    }
    .idc-logo {
        width: 96px;
    }
    .idc-head .idc-h1 {
        margin-top: 50px;
    }
    .idc-pluses .idc-container {
        padding-bottom: 65px;
    }
    /* ******info**** */
    .idc-info .idc-container {
        padding-bottom: 40px;
    }
    .idc-info p:not(:first-child) {
        margin-top: 70px;
    }
    /* *********gallery******** */
    .idc-gallery .idc-container {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    /* ***********************footer****************** */
    .idc-footer .idc-container {
        padding-bottom: 60px;
    }
}

@media (max-width: 699px) {
    .idc-h1,
    .idc-title {
        font-size: 5vw;
        line-height: 6.25vw;
    }

    .idc-text {
        font-size: 16px;
        line-height: 18px;
    }
    /* ******head*** */
    .idc-head .idc-container {
        padding-top: 15px;
        padding-bottom: 60px;
    }
    .idc-logo {
        width: 17vw;
    }
    .idc-head .idc-h1 {
        margin-top: 25px;
        max-width: 100%;
    }
    /* ******pluses**** */
    .idc-pluses .idc-container {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .idc-pluses__block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .idc-pluse {
        margin-left: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .idc-pluse .idc-text {
        text-align: center;
        margin-top: 10px;
    }
    .idc-pluse:nth-child(3) .idc-text {
        width: 82%;
    }
    /* ******info**** */
    .idc-info .idc-container {
        padding-top: 20px;
        padding-bottom: 25px;
    }

    .idc-info p > strong {
        font-size: 16px;
        line-height: 20px;
    }
    .idc-info p:not(:first-child) {
        margin-top: 45px;
    }
    .idc-info ul {
        margin-top: 20px;
    }

    .idc-info ul li {
        font-size: 16px;
        line-height: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* ******gallery**** */
    .idc-gallery .idc-container {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .idc-left .idc-img:last-child {
        margin-top: 8px;
    }
    .idc-left {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 28.4vw;
    }
    .idc-left .idc-img {
        height: 27.2vw;
    }
    .idc-right {
        margin-left: 8px;
        width: 59.7vw;
    }
    /* ******footer**** */
    .idc-footer .idc-container {
        padding-bottom: 50px;
    }
}
